.about-header{
    height: 50vh;
    width: 100%;
    color: white;
    background-position: center;
    background-size: cover;
    text-align: center;
      
}

.about-header h1{
    margin-top: 100px;
    font-size: 30px;
    font-family: sans-serif;
}

.about-us{
    width: 80%;
    padding-top: 80px;
    padding-bottom: 50px;
    margin: auto;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;

}

