.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;
        
}

.blog-left img{
    width: 100%;
}

.blog-content h2{
    color: black;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    padding: 0;
    color: #999;
         
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background-color: orangered;
    color: white;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div{
    color: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 50px 0;
    

}

.comment-box h3{
    text-align: left;
}

.comment-form input, textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #f0f0f0e7;
}

.comment-form button{
    margin: 15px 0;
}

@media(max-width: 700px) {
    .about-header h1{
        font-size: 20px;
    }
}