*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto' , sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 9;

}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;

}

.brand-logo{
    height: 70px;
    cursor: pointer;

}

.nav-item{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
    
}

.search-box{
    width: 60%;
    height: 40px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 0.5px solid maroon;
    text-transform: capitalize;
    background: none;
    outline: none;
    color: maroon;

}

.search-btn{
    width: 25%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: maroon;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    
    
}

.search-btn a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
   
}

.nav-item a{
    margin-left: 25px;
}

.nav-item a img{
    width: 30px;
    cursor: pointer;
}

.Link-container{
    background: maroon;
    display: flex;
    width: 100%;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid white;

}
    

.Link{
    text-transform: none;
    text-decoration: none;
    padding: 0 10px;
    margin: 0px 5px;
    color: white;
    font-weight: bold;

}

.Link:hover{
    color: gray;
}

.navbar .fa {
    display: none;
    
}

/* **************************************************************** */

@media(max-width: 700px) {
    .brand-logo{
        height: 30px;
    }

    .nav-item{
        display: flex;
        align-items: center;
    }
    
    .search{
        width: 150px;
        display: flex;
        
    }
    
   
    
    .nav-item a{
        margin-left: 25px;
    }
    
    .nav-item a img{
        width: 30px;
        cursor: pointer;
    }
    
        



    .Link-container{
        display: block;
    }

    .navbar{
        position: absolute;
        height: 100vh;
        width: 200px;
        background: maroon;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        text-align: left;
    }
    .navbar .fa {
        display: block;
        color: white;
        font-size: 17px;
        margin: 10px;
        cursor: pointer;
    }

    .Link-container{
        padding: 30px;
    }

}

.header-image {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

}


.heading{
    font-size: 40px;
    width: 90%;
    color: white;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* products styling */

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 10vw;
    font-style: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

}
.product-container::-webkit-scrollbar{
    display: none;
}


.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;

}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
    overflow: hidden;

}

.discount-tag{
    position: absolute;
    background: maroon;
    color: white;
    padding: 5px;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;width: 90%;
    border: none;
    outline: none;
    background: maroon;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    font-weight: bold;
    opacity: 0;
}

.card-btn a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.product-card:hover .card-btn{
    opacity: 1;
    
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-desc{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-style: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
    cursor: pointer;
    z-index: 8;
    outline: none;

}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
   

}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;

}

/* collections */

.collection-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection{
    position: relative;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    background: maroon;
    opacity: 0.7;
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;

}

/* ---footer--- */

.footer{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: maroon;

}

.footer h4{
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    color: white;
}

.footer p{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.icons .fa{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons a:hover {
    background-color: #000;
}
  
.facebook {
    background: #3B5998;
    color: white;
}
  
.twitter {
    background: #55ACEE;
    color: white;
}
  
.google {
    background: #dd4b39;
    color: white;
}
  
.linkedin {
    background: #007bb5;
    color: white;
}
  
.youtube {
    background: #bb0000;
    color: white;
}